html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 20px;
  font-family: "Oooh Baby", cursive;
  color: #ffffff;
}
h1 {
  font-size: 80px;
  margin: 0;
  padding: 20px 0;
  text-align: center; 
}
h2 {
  font-size: 50px;
   text-align: center; 
}
html {
  background-color: #3d3f37;
}
body {
  width: 1000px;
  margin: 0 auto;
  background-color: #680323;
  padding: 0 20px 20px 20px;  /* This creates space around the body box which is essentially a block on the website */
  border: 5px solid black;
}
img {
  display: block;  /* Have to set to be block so it can be centered */
  margin: 0 auto;
  max-width: 100%;
}
pre {
  text-align: center;
}